<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:text="${title}"></div>

<form action="/student" method="post" th:object="${student}">
    <input th:field="*{name}" placeholder="name">
    <input th:field="*{surname}" placeholder="surname">
    <input th:field="*{course}" placeholder="course">
    <button>SAVE</button>
</form>
<hr>
<ol>
    <li th:each="item : ${studentsList} "><p th:text="'Студента зовут: ' + ${item.name} +
    ' Фамилия: ' + ${item.surname} + ' Курс : ' + ${item.course} + '! '  + ${item.number}">

        <form action="student/action" method="post" th:action="@{/student/action (id=${item.id})}" >
        <input type="submit" name="action" value="UP">
        <input type="submit" name="action" value="DOWN">

    </form>

    </p></li>
</ol>
</body>
</html>